<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441903825924-0vsja8o2ptt466flq4j3ar2lvu0rk6nc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441903825924-0vsja8o2ptt466flq4j3ar2lvu0rk6nc</string>
	<key>API_KEY</key>
	<string>AIzaSyCBL2S0TH4xmelL3Zm7BWsfwIAgDs3wpzs</string>
	<key>GCM_SENDER_ID</key>
	<string>441903825924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.basicMedia</string>
	<key>PROJECT_ID</key>
	<string>basicmedia-fc13c</string>
	<key>STORAGE_BUCKET</key>
	<string>basicmedia-fc13c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441903825924:ios:41406ca65c3ba26e002151</string>
	<key>DATABASE_URL</key>
	<string>https://basicmedia-fc13c-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>